<div class="home">
    <div class="content">
        <div>
            <img src="assets/app_logo.png" class="app-logo" alt="app logo" />
        </div>
        <div>
            <img src="assets/app_logo.png" class="app-logo" alt="app logo" /> Welcome User!
        </div>
    </div>

    <div class="limiter">
        <div class="container-tb">
            <div class="wrap-tb">
                <div class="own-collections">
                    <div class="header-text pd-10">
                        <h4>Events</h4>
                    </div>
                    <div>
                        <button (click)="viewTemplate(addEvent)">Create</button>
                    </div>

                </div>
                <div class="tb ver2 m-b-110">
                    <div class="tb-head">
                        <table>
                            <thead>
                                <tr>
                                    <th class="column1">Id</th>
                                    <th class="column2">Name</th>
                                    <th class="column3">Created Date</th>
                                    <th class="column4"> </th>
                                    <th class="column5"> </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tb-body ">
                        <table>
                            <tbody *ngFor="let eData of eventsData; let i= index">
                                <tr>
                                    <td class="column1">{{i+1}}</td>
                                    <td class="column2">{{eData.collectionName}}</td>
                                    <td class="column3">{{this.timestampToDate(eData.createdOn) | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="column4">
                                      <button type="button" class="view-event" aria-hidden="true" (click)="fetchEventDesc(eData.collectionName)">View</button>

                                    </td>
                                    <td class="column5">
                                      <input type="file" id="images00" name="files[]" accept="image/*" (change)="onFileSelected($event)" multiple>
                                      <button class="btn btn-outline-secondary" type="button" (click)="upload(eData.collectionName)">Button</button>
                                    </td>

                                    <button type="button" class="close" aria-hidden="true" (click)="removeEvents(eData.collectionName)">
                                      X
                                    </button>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    {{ responseMessage }}

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewEvent let-modal>
  <div class="modal-header">
  <h5 class="modal-title mt-0">View Event</h5>
    <h6># Image {{eventDesc[0].count}}</h6>
  <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">
    X
  </button>
  </div>
  <div class="tb ver2 m-b-110">
    <div class="tb-head">
      <table>
        <thead>
        <tr>
          <th class="column1">File Name</th>
          <th class="column2">Size</th>
         </tr>
        </thead>
      </table>
    </div>
    <tbody *ngFor="let item of eventDesc">
    <tr >
      <td class="column1">{{ item.fileName }}</td>
      <td class="column2">{{ item.size }}</td>
      <!-- Add more columns as needed -->
    </tr>
    </tbody>
  </div>
</ng-template>

<ng-template #removeEvent let-modal>
  Are you sure you wanted to delete collection ?
  <button type="button" class="btn btn-outline-success" (click)="removeEvents(modal.eData.collectionName)">Yes</button>
  <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">No</button>
   <div></div>
</ng-template>
<ng-template #addEvent role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Add Event</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">
            X
        </button>
    </div>
    <div class="modal-body">
        <div class="card d-flex">
            <div class="col-sm-12 col-xs-12 c2">
                <form (ngSubmit)="createEvent()" [formGroup] = "eventForm" class="px-5 pb-5">
                    <div>
                        <input type="text" formControlName="name" placeholder="Event Name" [ngClass]="{
                            'is-invalid': eForm.name.dirty && eForm.name.errors
                        }">
                        <div *ngIf="eForm.name.dirty && eForm.name.errors" class="form-input-error">
                            Name should contain 6 - 10 chars
                        </div>
                    </div>
                    <button type="submit" [disabled]="eventForm.invalid" class="text-white bt">Create</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>
